/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.main-content {
	margin-top: 40px;
	min-height: 320px;
}

.footer {
	background-color: #eee;
	padding: 40px 0 40px 0;
	margin-top: 40px;
}

.footer-end {
	background-color: #111;
	color: #eee;
	margin-bottom: 0;
	padding: 10px 0 0px 0;
	font-size: .9em;
}

a.fa:hover {
	text-decoration: none;
}

a, a:hover {
	color: #3c763d;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

thead {
	background-color: #dff0d8;
	border-top: solid 2px #ddd;
}

.img-thumbnail, .thumbnail, .well, .panel, .alert {
	border-radius: 0;
}

.text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.img-200 {
	width: 200px;
}

.thumbnail > a {
	height: 100px;
}

.center-cropped {
  width: auto;
  height: 120px;
  background-size: auto 150px;
  background-position: center center;
  background-repeat: no-repeat;
}